.headerContainer {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLeft {
  height: 100%;
  min-width: 50%;
  display: flex;
  gap: var(--mantine-spacing-md);
  flex-direction: row;
  align-items: center;
}

.headerRight {
  height: 100%;
  width: 50%;
  display: flex;
  gap: var(--mantine-spacing-md);
  flex-direction: row-reverse;
  align-items: center;
}
