body {
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  width: 100vw;
  min-width: 540px;
}

.width-100 {
  width: 100%;
}

.flex-end {
  align-items: flex-end;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
}
